body {
    background-color: #f6f7fc;
}
p {
    margin: 0;
}
.main_wrapper {
    max-width: 1200px;
    clear: both;
    content: "";
    margin: 0 auto;
}
.login_form {
    width: 50%;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #fb771a;
    border: none;
    height: 54px;
    width: 100%;
    cursor: pointer;
}
input[type="text"] , input[type="password"] {
    border: none;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    height: 54px;
    background: #efefef;
    width: 100%;
    margin-top: 4px;
}
label {
    margin-bottom: 4px;
}